
#include "Shared/Shared.xcconfig"

// Architectures
ONLY_ACTIVE_ARCH = YES

// Build Locations
CONFIGURATION_BUILD_DIR = $(BUILD_DIR)/Debug$(EFFECTIVE_PLATFORM_NAME)
CONFIGURATION_TEMP_DIR = $(PROJECT_TEMP_DIR)/Debug$(EFFECTIVE_PLATFORM_NAME)

// Build Options
DEBUG_INFORMATION_FORMAT = dwarf
ENABLE_TESTABILITY = YES

// Code Generation
GCC_OPTIMIZATION_LEVEL = 0

// LLVM
ENABLE_NS_ASSERTIONS = YES

// Swift Compiler - Code Generation
SWIFT_COMPILATION_MODE = singlefile
SWIFT_OPTIMIZATION_LEVEL = -Onone

// Swift Compiler - Custom Flags
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG

// User Defined
MTL_ENABLE_DEBUG_INFO = INCLUDE_SOURCE

// Preprocessing
GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1
