
#include "Shared/Shared.xcconfig"

// Architectures
ONLY_ACTIVE_ARCH = YES

// Build Locations
CONFIGURATION_BUILD_DIR = $(BUILD_DIR)/Debug$(EFFECTIVE_PLATFORM_NAME)
CONFIGURATION_TEMP_DIR = $(PROJECT_TEMP_DIR)/Debug$(EFFECTIVE_PLATFORM_NAME)

// Build Options
DEBUG_INFORMATION_FORMAT = dwarf
ENABLE_TESTABILITY = YES

// Code Generation
GCC_OPTIMIZATION_LEVEL = 0

// LLVM
ENABLE_NS_ASSERTIONS = YES

// Swift Compiler - Code Generation
SWIFT_OPTIMIZATION_LEVEL = -Onone

// Swift Compiler - Custom Flags
OTHER_SWIFT_FLAGS = -D DEBUG -Xfrontend -warn-long-function-bodies=100

// User Defined 
METAL_ENABLE_DEBUG_INFO = YES
MTL_ENABLE_DEBUG_INFO = YES

// Preprocessing
GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1
