
// Architectures
SDKROOT = iphoneos
SUPPORTED_PLATFORMS = iphoneos iphonesimulator
VALID_ARCHS = arm64 armv7 armv7s

// Linking
LD_RUNPATH_SEARCH_PATHS = @executable_path/Frameworks
OTHER_LDFLAGS = $(inherited) -ObjC

// Packaging 
INFOPLIST_FILE  = $(PRODUCT_NAME)/Info.plist
WRAPPER_EXTENSION = app

// Asset Catalog Compiler - Options
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
