
#include "Shared/Shared.xcconfig"

// Architectures
ONLY_ACTIVE_ARCH = NO

// Build Locations
CONFIGURATION_BUILD_DIR = $(BUILD_DIR)/Release$(EFFECTIVE_PLATFORM_NAME)
CONFIGURATION_TEMP_DIR = $(PROJECT_TEMP_DIR)/Release$(EFFECTIVE_PLATFORM_NAME)

// Build Options
VALIDATE_PRODUCT = YES
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym

// Code Generation
GCC_OPTIMIZATION_LEVEL = s

// LLVM
ENABLE_NS_ASSERTIONS = NO

// Swift Compiler - Code Generation
SWIFT_COMPILATION_MODE = wholemodule
SWIFT_OPTIMIZATION_LEVEL = -O

// Swift Compiler - Custom Flags
OTHER_SWIFT_FLAGS = -D RELEASE

// User Defined
MTL_ENABLE_DEBUG_INFO = NO
