// Architectures
SDKROOT = appletvos
SUPPORTED_PLATFORMS = appletvos appletvsimulator
VALID_ARCHS = arm64

// Deployment
COPY_PHASE_STRIP = NO

// Linking
LD_RUNPATH_SEARCH_PATHS = @executable_path/Frameworks
OTHER_LDFLAGS = $(inherited) -ObjC

// Packaging 
INFOPLIST_FILE  = $(PRODUCT_NAME)/Info.plist
WRAPPER_EXTENSION = app

// Asset Catalog Compiler - Options
ASSETCATALOG_COMPILER_APPICON_NAME = App Icon & Top Shelf Image

ENABLE_BITCODE = YES
TARGETED_DEVICE_FAMILY = 3
