
#include? "../Version.xcconfig"

// Architectures
SDKROOT = iphoneos
// Setting this at the project level prevents the build products from not being found (being red in the source list)

// Code Signing
CODE_SIGN_IDENTITY[sdk=iphoneos*] = iPhone Developer
CODE_SIGN_IDENTITY[sdk=macosx*] = Mac Developer
CODE_SIGN_IDENTITY[sdk=appletvos*] = iPhone Developer
CODE_SIGN_IDENTITY[sdk=watchos*] = iPhone Developer

// Deployment
COPY_PHASE_STRIP = NO

// Linking
WARNING_CFLAGS = $(inherited) -Weverything -Wno-objc-missing-property-synthesis -Wno-gnu -Wno-incomplete-module -Rno-module-build -Wno-cstring-format-directive

// Packaging
PRODUCT_NAME = $(TARGET_NAME)

// Search Paths 
ALWAYS_SEARCH_USER_PATHS = NO

// LLVM
CLANG_ENABLE_MODULES = YES
CLANG_ENABLE_OBJC_ARC = YES

// Code Generation
GCC_NO_COMMON_BLOCKS = YES
SWIFT_ENFORCE_EXCLUSIVE_ACCESS = full

// Preprocessing
ENABLE_STRICT_OBJC_MSGSEND = YES

// Warnings
CLANG_WARN_BLOCK_CAPTURE_AUTORELEASING = YES
CLANG_WARN_BOOL_CONVERSION = YES
CLANG_WARN_COMMA = YES
CLANG_WARN_CONSTANT_CONVERSION = YES
CLANG_WARN_DIRECT_OBJC_ISA_USAGE = YES_ERROR
CLANG_WARN_EMPTY_BODY = YES
CLANG_WARN_ENUM_CONVERSION = YES
CLANG_WARN_INT_CONVERSION = YES
CLANG_WARN_NON_LITERAL_NULL_CONVERSION = YES
CLANG_WARN_OBJC_LITERAL_CONVERSION = YES
CLANG_WARN_OBJC_ROOT_CLASS = YES_ERROR
CLANG_WARN_RANGE_LOOP_ANALYSIS = YES
CLANG_WARN_STRICT_PROTOTYPES = YES
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
CLANG_WARN_UNREACHABLE_CODE = YES

CLANG_WARN_INFINITE_RECURSION = YES
CLANG_WARN_SUSPICIOUS_MOVE = YES
CLANG_ANALYZER_LOCALIZABILITY_NONLOCALIZED = YES
CLANG_ANALYZER_NONNULL = YES

GCC_WARN_64_TO_32_BIT_CONVERSION = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES_ERROR
GCC_WARN_UNDECLARED_SELECTOR = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES_AGGRESSIVE
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_VARIABLE = YES
