
#include "watchOS.xcconfig"
#include "../Shared/Shared Application.xcconfig"

// Asset Catalog Compiler - Options
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME = AccentColor

// Deployment
SKIP_INSTALL = YES

// Info.plist Values
INFOPLIST_KEY_UISupportedInterfaceOrientations = UIInterfaceOrientationPortrait UIInterfaceOrientationPortraitUpsideDown

// Linking
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks

// Packaging
GENERATE_INFOPLIST_FILE = YES
